h1{

	color: black;
	height: 50px;

}
body, html {
  height: 100%;
}
body{
	background: linear-gradient(to right,rgba(222,222,222,0.5),rgba(222,222,222,0.5)),url(army1.jpg);
	
	background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   align-items: flex-start;
	
}
h1{
	font-size: 40px;
}
h3{
	font-size: 30px;
}
ul li{
	font-size: 20px;
}
.container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}