<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
body{
	background-color:grey;
}

td, th {
  border: 6px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<body>
	

<h1 style="text-align: center;">Automation of Frequency Spectrum for Army Services</h1>
<img src="https://images.newindianexpress.com/uploads/user/imagelibrary/2017/7/28/w600X300/India_Kashmir_Border__AP2.jpg" class="center" width=40%>

<h1>
<table>
  <tr>
    <th>Army Unit</th>
    <th>Army Headquarters</th>
  </tr>
  <tr>
    <td><a href="/reg/register/" style="color:black">Unit Registration</a></td>
    <td><a href="/reg/register_q/" style="color:black" >Register Unit</a></td>
   </tr>
  <tr>
    <td><a href="/reg/login_grant/" style="color:black">Request for new Grant</a></td>
    <td><a href="/reg/login_headq/" style="color:black">Show Logs</a></td>
  </tr>
  <tr>
    <td><a href="/reg/login_logs/" style="color:black">Previous Logs</a></td>
    <td></td>
  </tr>
  <tr>
    <td><a href="/reg/pathloss" style="color:black">Path Loss</a></td>
    <td></td>
  </tr>
  <tr>
    <td><a href="/reg/power_rec" style="color:black">Received power</a></td>
    <td></td>
  </tr>
</table>
</h1>

</body>
</html>



<!--  <!DOCTYPE html>
<html>
<head>
	<title>Automation of Frequency Spectrum for Army Service</title>
	<link rel="stylesheet" type="text/css" href="army.css">
</head>
<body>
	<div class="bg-image"></div>
	<center><h1>Automation of Frequency Spectrum for Army Service</h1></center>
	<div class="container">
		<div class="first">
			<h3>Army Unit</h3>
			<ul>
				<li><a href="/reg/register/">Unit Registration</a></li>
				<li><a href="/reg/login_grant/">Request for new Grant</a></li>
				<li><a href="/reg/login_logs/">Previous Logs</a></li>
			</ul>
		</div>
		<div class="second">
			<h3>Army Headquaters</h3>
			<ul>
				<li><a href="/reg/register/">Register Unit</a></li>
				<li><a href="/reg/login_headq/">Show Logs</a></li>
			</ul>
		</div>
	</div>
	


</body>
</html> -->