<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Path loss</h2>

<table>
  <tr>
    <th>Numerical Path loss using models</th>
    <th>Path Loss Diagram</th>
  </tr>
  <tr>
    <td><a href="/reg/hatamodel_calc/">Hata Model</a></td>
    <td><a href="/reg/hatamodel/">Hata Model</a></td>
   </tr>
  <tr>
    <td><a href="/reg/costmodel_calc/">Cost 231 Model</a></td>
    <td><a href="/reg/costmodel/">Cost 231 Model</a></td>
  </tr>
</table>

</body>
</html>

<!--  <!DOCTYPE html>
<html>
<head>
	<title>Automation of Frequency Spectrum for Army Service</title>
	<link rel="stylesheet" type="text/css" href="army.css">
</head>
<body>
	<div class="bg-image"></div>
	<center><h1>Automation of Frequency Spectrum for Army Service</h1></center>
	<div class="container">
		<div class="first">
			<h3>Army Unit</h3>
			<ul>
				<li><a href="/reg/register/">Unit Registration</a></li>
				<li><a href="/reg/login_grant/">Request for new Grant</a></li>
				<li><a href="/reg/login_logs/">Previous Logs</a></li>
			</ul>
		</div>
		<div class="second">
			<h3>Army Headquaters</h3>
			<ul>
				<li><a href="/reg/register/">Register Unit</a></li>
				<li><a href="/reg/login_headq/">Show Logs</a></li>
			</ul>
		</div>
	</div>
	


</body>
</html> -->